# Eat Safe, Love

## Notebook Set Up

In [25]:
# Import dependencies
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [26]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [27]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [28]:
# review the collections in our database
collections = db.list_collection_names()

In [29]:
# assign the collection to a variable
establishments_collection = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [30]:
# Find the establishments with a hygiene score of 20
query = {"hygiene_score":20}

# Use count_documents to display the number of documents in the result
count = establishments_collection.count_documents(query)
print(f"Number of establishments with a hygiene score of 20:{count}")
# Display the first document in the results using pprint
result = establishments_collection.find_one(query)
pprint(result)

Number of establishments with a hygiene score of 20:0
None

In [33]:
# Convert the result to a Pandas DataFrame

df = pd.DataFrame(result)
# Display the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"Number of rows in the DataFrame: {num_rows}")
# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [34]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
query = {
    "LocalAuthorityName": "London",
    "RatingValue": {"$gte": 4}
}

# Use count_documents to display the number of documents in the result
count = establishments_collection.count_documents(query)
print(f"Number of establishments in London with RatingValue >= 4: {count}")
# Display the first document in the results using pprint
result = establishments_collection.find_one(query)
pprint(result)

Number of establishments in London with RatingValue >= 4: 0
None

In [35]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)
# Display the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"Number of rows in the DataFrame: {num_rows}")

# Display the first 10 rows of the DataFrame
df.head(10)

Number of rows in the DataFrame: 0

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [ ]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.49014200
longitude =  0.08384000


query = {
    "RatingValue": 5,
    "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
    "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
}
sort = [("scores.Hygiene", 1)] 

# Print the results
print("Top 5 Establishments with RatingValue 5, Sorted by Hygiene Score:")
print(df[["BusinessName", "RatingValue", "scores.Hygiene"]])

In [ ]:
# Convert result to Pandas DataFrame
df = pd.DataFrame(list(results))

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [ ]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {
        "$match": {
            "scores.Hygiene": 0
        }
    },
    {
        "$group": {
            "_id": "$LocalAuthorityName",
            "count": {"$sum": 1}
        }
    },
    {
        "$sort": {"count": -1}
    }
]
result = list(establishments_collection.aggregate(pipeline))

# Print the number of documents in the result
print("Number of documents in the result:", len(result))

# Print the first 10 results
print("First 10 results:")
for entry in result[:10]:
    print(f"{entry['_id']}: {entry['count']} establishments")

In [ ]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(result)

# Display the number of rows in the DataFrame
print("Number of rows in the DataFrame:", len(df))

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
print(df.head(10))